extends layout

block content
  .w3-container
    h1 Lista de Entidades
    h2 Aqui são apresentadas todas as entidades presentes no arquivo
    table.w3-table-all
        tr
            th Sigla
            th Designação
        each ent in lista
            tr
                td= ent.sigla
                td= ent.designacao
                td
                   a(href="http://localhost:3000/"+ent.id) Ver
    address 
        a(href="http://localhost:3000/") HomePage

