extends layout
block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-teal
        h3 Arquivo sonoro Ernesto Veiga de Oliveira
      .w3-container
        ul.w3.ul
          li
            a(href='/registar') Adicionar música ao arquivo sonoro
          li
            a(href='/listar') Lista todos os sons do arquivo
          li
            a(href='/gerir') Gerir músicas do arquivo
      footer.w3-container.w3-teal
        address Arquio Son EVO App