doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='./delete.js')
    script(src='./listar.js')
    script(src='./update.js')
  body
    block content