extends layout
block content  
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-teal
                h3 Adicionar Tarefa
            .w3-container
                form.w3-container(action="/tarefa" method="POST")
                    label.w3-teal
                        b Descrição
                    input.w3-input.w3-border.w3-light-grey(type='text' name='descricao')
                    label.w3-teal
                        b Data Limite
                    input.w3-input.w3-border.w3-light-grey(type='text' name='data_limite')
                    input.w3-btn.w3-blue-grey(type='submit' value='Enviar')
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-teal
                h3 Lista de Tarefas
            .w3-container
                table.w3-table-all.w3-section
                    tr
                        th Tarefa
                        th Data Limite
                    each tarefa in lista
                        tr
                            td= tarefa.descricao
                            td= tarefa.data_limite
    .w3-container.w3-bottom.w3-light-blue
            footer.w3-container
                p Lista de Tarefas App